<div class="registro-container">
  <h2>Crear Cuenta</h2>
  <form (ngSubmit)="onSubmit()" #registroForm="ngForm">
    <label for="firstName">Nombre</label>
    <input
      type="text"
      id="firstName"
      name="firstName"
      [(ngModel)]="firstName"
      required
      placeholder="Juan"
    />

    <label for="lastName">Apellido</label>
    <input
      type="text"
      id="lastName"
      name="lastName"
      [(ngModel)]="lastName"
      required
      placeholder="Pérez"
    />

    <label for="email">Correo electrónico</label>
    <input
      type="email"
      id="email"
      name="email"
      [(ngModel)]="email"
      required
      placeholder="ejemplo@correo.com"
    />

    <label for="username">Nombre de usuario</label>
    <input
      type="text"
      id="username"
      name="username"
      [(ngModel)]="username"
      required
      placeholder="juanp123"
    />

    <label for="birthDate">Fecha de nacimiento</label>
    <input
      type="date"
      id="birthDate"
      name="birthDate"
      [(ngModel)]="birthDate"
      required
    />

    <label for="bio">Descripción breve</label>
    <textarea
      id="bio"
      name="bio"
      [(ngModel)]="bio"
      placeholder="Contanos algo sobre vos"
    ></textarea>

    <label for="profileImage">Imagen de perfil</label>
    <input
      type="file"
      id="profileImage"
      (change)="onFileSelected($event)"
      accept="image/*"
    />

    <label for="password">Contraseña</label>
    <input
      type="password"
      id="password"
      name="password"
      [(ngModel)]="password"
      required
      pattern="^(?=.*[A-Z])(?=.*\d).{8,}$"
      placeholder="********"
    />

    <label for="confirmPassword">Confirmar contraseña</label>
    <input
      type="password"
      id="confirmPassword"
      name="confirmPassword"
      [(ngModel)]="confirmPassword"
      required
      placeholder="********"
    />

    <div *ngIf="error" class="error-msg">{{ error }}</div>

    <button type="submit">Registrarse</button>
    <p class="register-link">
      ¿Ya tienes cuenta? <a routerLink="/login">Inicia Sesión</a>
    </p>
  </form>
</div>
