.footer {
  background: var(--primary-dark);
  color: var(--text-color);
  padding: 1rem 0.5rem;
  text-align: center;
  font-size: 0.9rem;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.5);
  border-top: 2px solid var(--accent);
  margin-top: auto;
  z-index: 999;
}

.footer p {
  margin: 0.3rem 0;
  color: var(--text-color);
}

@media (max-width: 600px) {
  .footer {
    font-size: 0.8rem;
    padding: 1.5rem 1rem;
  }
}

@media (max-height: 690px) {
  .footer {
    padding: 0.2rem;
  }
}
