<div class="profile-container" *ngIf="usuario">
  <img [src]="usuario.foto" alt="Foto de perfil" class="profile-img" />
  <h2>{{ usuario.nombre }}</h2>
  <p><strong>Email:</strong> {{ usuario.email }}</p>

  <hr />

  <div *ngIf="publicaciones.length > 0">
    <h3 style="color: #c62828">Mis últimas publicaciones</h3>
    <div *ngFor="let post of publicaciones" class="post-card">
      <p><strong>Contenido:</strong> {{ post.contenido }}</p>
      <p><strong>Fecha:</strong> {{ post.createdAt | date : "short" }}</p>

      <div *ngIf="post.comentarios?.length">
        <p><strong>Comentarios:</strong></p>
        <ul>
          <li
            *ngFor="let comentario of post.comentarios"
            style="list-style-type: none"
          >
            {{ comentario.autor }}: {{ comentario.texto }}
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div *ngIf="publicaciones.length === 0">
    <p style="color: #777">Aún no tenés publicaciones.</p>
  </div>
</div>
