<div class="profile-container" *ngIf="usuario">
  <div class="avatar-container">
    @if (usuario.imagenPerfilUrl && !imageError) {
    <img
      [src]="getImageUrl(usuario.imagenPerfilUrl)"
      alt="Foto de perfil"
      class="profile-img"
      (error)="imageError = true"
    />
    } @else {
    <mat-icon class="default-avatar">perm_identity</mat-icon>
    }
  </div>

  <div class="profile-info">
    <p class="username">{{ usuario.nombreUsuario }}</p>
    <h2>{{ usuario.nombre }}</h2>
    <p class="email">
      <strong>Email:</strong> {{ usuario.correo || "No disponible" }}
    </p>
    <p class="email">
      <strong>Fecha de nacimiento:</strong> {{ usuario.fechaNacimiento ? formatFecha(usuario.fechaNacimiento) : "No disponible" }}
    </p>
    <p class="email">
      <strong>Descripción:</strong> {{ usuario.descripcion || "No disponible" }}
    </p>
    <p class="email">
      <strong>Perfil:</strong> {{ usuario.perfil || "No disponible" }}
    </p>
  </div>

  <hr />

  <div *ngIf="publicaciones.length > 0">
    <h3 style="color: #c62828">Mis últimas publicaciones</h3>
    <div *ngFor="let post of publicaciones" class="post-card">
      <div class="post-content">
        <div class="post-left">
          <p><strong>Contenido:</strong> {{ post.descripcion }}</p>
          <p><strong>Fecha:</strong> {{ post.createdAt | date : "short" }}</p>
          <p><strong>Likes:</strong> {{ post.meGusta.length }}</p>
          <div class="ver-detalles">
            <button (click)="verPost(post._id)">
              Ver publicación completa
            </button>
          </div>
        </div>

        <div class="post-right">
          <img
            *ngIf="post.imagenUrl; else sinImagen"
            [src]="getImageUrl(post.imagenUrl)"
            alt="Imagen del post"
            class="post-image"
          />
          <ng-template #sinImagen>
            <div class="imagen-placeholder">
              <i class="bi bi-image"></i>
              <p>Sin imagen</p>
            </div>
          </ng-template>

          <p class="comentarios-contador">
            <strong>Comentarios:</strong> {{ post.comentariosCount }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="publicaciones.length === 0">
    <p style="color: #777">Aún no tenés publicaciones.</p>
  </div>
</div>
