<div class="profile-container" *ngIf="usuario">
  <div class="avatar-container">
    @if (usuario.imagenPerfilUrl && !imageError) {
    <img
      [src]="getImageUrl(usuario.imagenPerfilUrl)"
      alt="Foto de perfil"
      class="profile-img"
      (error)="imageError = true"
    />
    } @else {
    <mat-icon class="default-avatar">perm_identity</mat-icon>
    }
  </div>

  <div class="profile-info">
    <p class="username">{{ usuario.nombreUsuario }}</p>
    <h2>{{ usuario.nombre }}</h2>
    <p class="email">
      <strong>Email:</strong> {{ usuario.email || "No disponible" }}
    </p>
  </div>

  <hr />

  <div *ngIf="publicaciones.length > 0">
    <h3 style="color: #c62828">Mis últimas publicaciones</h3>
    <div *ngFor="let post of publicaciones" class="post-card">
      <p><strong>Contenido:</strong> {{ post.descripcion }}</p>
      <p><strong>Fecha:</strong> {{ post.createdAt | date : "short" }}</p>
      <p><strong>Likes:</strong> {{ post.meGusta.length }}</p>

      <div *ngIf="post.comentarios?.length">
        <p><strong>Comentarios:</strong></p>
        <ul>
          <li
            *ngFor="let comentario of post.comentarios"
            style="list-style-type: none"
          >
            {{ comentario.autor }}: {{ comentario.texto }}
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div *ngIf="publicaciones.length === 0">
    <p style="color: #777">Aún no tenés publicaciones.</p>
  </div>
</div>
